.about-container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
  }
  
  .about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-container h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .about-container p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 15px;
  }
  
  .about-container a {
    color: black;
    text-decoration: underline;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .logo img {
    width: 70px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 20px 0;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .contact-section {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border-top: 2px solid black;
  }
  
  .contact-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .contact-info a {
    color: black;
    text-decoration: underline;
  }
  
  .contact-info a:hover {
    color: #555;
  }
  
  
  